.on-over:hover {
	transform: scale(1.1);
}

.head-logo {
	animation-name: upsidedown;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: reverse;
}
.filter-bar {
	display: flex;
	align-items: center;
}
.filter-bar span{
	display: flex;
	align-items: center;
}

@media(max-width: 640px) {
	.filter-bar {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}
	
	.search-field {
		width: 100%;
		margin-bottom: 10px;
	}

	.search-field input {
		width: 100%;
	}
	
	.filter-bar span {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
}

.height-70vh {
	height: 70vh;
}

.lds-roller {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: inline-block;
	width: 80px;
	height: 80px;
}


.lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 40px 40px;
}

.lds-roller div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #2E58FF;
	margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
	top: 63px;
	left: 63px;
}

.lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
	top: 68px;
	left: 56px;
}

.lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
	top: 71px;
	left: 48px;
}

.lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
	top: 72px;
	left: 40px;
}

.lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
	top: 71px;
	left: 32px;
}

.lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
	top: 68px;
	left: 24px;
}

.lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
	top: 63px;
	left: 17px;
}

.lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
	top: 56px;
	left: 12px;
}

@keyframes lds-roller {
	0% {
	transform: rotate(0deg);
	}
	100% {
	transform: rotate(360deg);
	}
}

@keyframes upsidedown {
	0% { transform: rotate(0turn) translate(0px, 0%); }
	5% { transform: rotate(0.0005turn) translate(0px, 0.5%); }
	10% { transform: rotate(0.001turn) translate(0px, 1%); }
	15% { transform: rotate(0.0015turn) translate(0px, 1.5%); }
	20% { transform: rotate(0.002turn) translate(0px, 2%); }
	25% { transform: rotate(0.0015turn) translate(0px, 2.5%); }
	30% { transform: rotate(0.001turn) translate(0px, 3%); }
	35% { transform: rotate(0.0005turn) translate(0px, 3.5%); }
	40% { transform: rotate(0turn) translate(0px, 4%); }
	45% { transform: rotate(-0.0005turn) translate(0px, 4.5%); }
	50% { transform: rotate(-0.001turn) translate(0px, 5%); }
	55% { transform: rotate(-0.0015turn) translate(0px, 4.5%); }
	60% { transform: rotate(-0.002turn) translate(0px, 4%); }
	65% { transform: rotate(-0.0015turn) translate(0px, 3.5%); }
	70% { transform: rotate(-0.001turn translate(0px, 3%); }
	75% { transform: rotate(-0.0005turn translate(0px, 2.5%); }
	80% { transform: rotate(0turn) translate(0px, 2%); }
	85% { transform: rotate(0.0005turn) translate(0px, 1.5%); }
	90% { transform: rotate(0.001turn) translate(0px, 1%); }
	95% { transform: rotate(0.0015turn) translate(0px, 0.5%); }
	100% { transform: rotate(0.002turn) translate(0px, 0%); }
}